@charset "UTF-8";
/*
@include adaptiveValue("свойство", начальное значение, конечное значение);
Где:

свойство — CSS-свойство, значение которого нужно адаптировать. Можно указать любое свойство значение которого указывается в цифрах.
начальное значение — стартовое значение свойства в пикселях, пишем число без px. Обычно указывается по макету.
конечное значение — финальное значение свойства в пикселях, пишем число без px. Значение, к которому мы хотим прийти на меньших ширинах экрана.
Примеры:

@include adaptiveValue("font-size", 50, 20);
@include adaptiveValue("padding-top", 80, 10);
...
Алгоритм работы миксина
Миксин работает на основе значений переменных $minWidth, $maxWidth, $maxWidthContainer, $containerPadding и $containerWidth расположеных в блоке «Настройка адаптивной сетки» файла scss/style.scss

В итоге, по умолчанию, миксин будет работать следующим образом:

Если $maxWidthContainer больше нуля, то значения свойства будут меняться в промежутке ширин от $containerWidth до $minWidth. То есть, по всей ширине ограничивающего контейнера.

При этом, если ширина экрана больше чем $containerWidth, то значение свойства будет равно начальному значению. Если ширина экрана меньше чем $minWidth, то значение свойства будет равно конечному значению.

Если $maxWidthContainer равен нулю, то значения свойства будут меняться в промежутке ширин от $maxWidth до $minWidth. То есть, по всей ширине экрана (вьюпорта).

Дополнительные настройки и режимы работы
Миксин позволяет указать свой промежуток ширины внутри которого будет адаптироваться значение свойства.

@include adaptiveValue("свойство", начальное значение, конечное значение, ширина от, ширина до); 
ширина от — стартовая ширина меньше которой начнется адаптация, пишем число без px.
ширина до — конечная ширина до которой будет адаптироваться значение свойства, пишем число без px.
Пример:

@include adaptiveValue("font-size", 50, 20, 800, 480);



режим работы — может принимать числовые значения 1, 2 или 3:

1 — Если ширина экрана больше чем ширина от, то значение свойства будет равно начальному значению. Если ширина экрана меньше чем ширина до, то значение свойства будет равно конечному значению.
2 — Если ширина экрана больше чем ширина от, то значение свойства будет равно начальному значению. Если ширина экрана меньше чем ширина до, то значение свойства будет по умолчанию либо наследоваться от предков.
3 — Если ширина экрана больше чем ширина от, то значение свойства будет по умолчанию либо наследоваться от предков. Если ширина экрана меньше чем ширина до, то значение свойства будет равно конечному значению.


Пример:

@include adaptiveValue("font-size", 50, 20, 800, 480, 1);
Также мы можем использовать несколько вызовов миксина с разными промежутками:

@include adaptiveValue("font-size", 50, 20, 800, 480, 2);
@include adaptiveValue("font-size", 20, 10, 480, 320);
В примере произойдет следующее: значение font-size будет 50px, в промежутке ширин экрана от 800px до 480px, он будет отзывчиво адаптироваться от 50px до 20px. А в промежутке от 480px до 320px отзывчиво адаптироваться от 20px до 10px.
*/
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("/fonts/icons.woff2") format("woff2"), url("/fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SofiaSans;
  font-display: swap;
  src: url("/fonts/SofiaSans.woff2") format("woff2"), url("/fonts/SofiaSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Sofia;
  font-display: swap;
  src: url("/fonts/Sofia.woff2") format("woff2"), url("/fonts/Sofia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1B1D1F;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.lock {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 71.875rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header._scroll .header__wraper {
  background-color: #A1C7D4;
}
.header._scroll .header-logo__text-name {
  color: #ffffff;
  opacity: 1;
}
.header._scroll .header-logo__text {
  color: #ffffff;
}
@media (pointer: fine) {
  .header._scroll .header-logo__text:hover .header-logo__text-name {
    color: #ffffff;
  }
  .header._scroll .header-logo__text:hover .header-logo__text-status {
    color: #ffffff;
  }
}
.header._scroll .header-logo__text.active .header-logo__text-name {
  color: #ffffff;
}
.header._scroll .header-logo__text.active .header-logo__text-status {
  color: #ffffff;
}
@media (pointer: fine) {
  .header._scroll .header-menu__link:hover,
.header._scroll .header-actions__phone:hover,
.header._scroll .header-actions__lang:hover {
    color: #ffffff;
  }
}
.header__wraper {
  position: fixed;
  height: 85px;
  z-index: 100;
  width: 100%;
  transition: all 0.5s ease 0s;
}
@media (max-width: 47.99875em) {
  .header__wraper {
    height: 115px;
  }
}
.header__items {
  display: grid;
  grid-template-columns: minmax(275px, 420px) minmax(290px, 490px) minmax(220px, 274px);
}
@media (max-width: 47.99875em) {
  .header__items {
    display: flex;
    justify-content: space-between;
  }
}
.header__item {
  display: flex;
  margin-top: 29px;
}

.header-logo {
  z-index: 200;
}
@supports (padding-left: clamp( 0.625rem , -29.3856382979rem  +  48.4042553191vw , 6.3125rem )) {
  .header-logo {
    padding-left: clamp( 0.625rem , -29.3856382979rem  +  48.4042553191vw , 6.3125rem );
  }
}
@supports not (padding-left: clamp( 0.625rem , -29.3856382979rem  +  48.4042553191vw , 6.3125rem )) {
  .header-logo {
    padding-left: calc(
         0.625rem + 5.6875 * (100vw - 62rem) / 11.75
      );
  }
}
@media (max-width: 62em) {
  .header-logo {
    padding-left: inherit;
  }
}
@media (max-width: 29.99875em) {
  .header-logo {
    display: flex;
    flex-direction: column;
  }
}
.header-logo__logo {
  margin-right: 5px;
  position: relative;
  width: 52px;
  height: 54px;
  transition: all 0.3s ease 0s;
}
@media (pointer: fine) {
  .header-logo__logo:hover {
    transform: rotate(360deg) scale(1.2);
  }
}
.header-logo__logo.active {
  transform: rotate(360deg) scale(1.2);
}
.header-logo__logo img {
  position: relative;
  top: 0;
  left: 0;
  width: 47.56px;
  height: 52.77px;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (max-width: 29.99875em) {
  .header-logo__logo {
    width: 26px;
    height: 27px;
  }
  .header-logo__logo img {
    width: 24px;
    height: 26px;
  }
}
.header-logo__text {
  color: #46B1DE;
  margin-top: 6px;
  line-height: 140%;
  white-space: nowrap;
}
@media (pointer: fine) {
  .header-logo__text:hover .header-logo__text-name {
    opacity: 1;
    font-size: 1.5rem;
  }
  .header-logo__text:hover .header-logo__text-status {
    font-size: 1.5rem;
  }
}
.header-logo__text.active .header-logo__text-name {
  opacity: 1;
  font-size: 1.5rem;
}
.header-logo__text.active .header-logo__text-status {
  font-size: 1.5rem;
}
.header-logo__text-name {
  font-family: "Sofia";
  font-style: normal;
  font-weight: 400;
  opacity: 0.6;
  letter-spacing: -0.269px;
  transition: all 0.3s ease 0s;
}
@supports (font-size: clamp( 1rem , 0.5535714286rem  +  2.2321428571vw , 1.625rem )) {
  .header-logo__text-name {
    font-size: clamp( 1rem , 0.5535714286rem  +  2.2321428571vw , 1.625rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.5535714286rem  +  2.2321428571vw , 1.625rem )) {
  .header-logo__text-name {
    font-size: calc(
         1rem + 0.625 * (100vw - 20rem) / 28
      );
  }
}
.header-logo__text-status {
  font-family: "Sofia";
  letter-spacing: 0.8px;
  transition: all 0.3s ease 0s;
}
@supports (font-size: clamp( 0.875rem , 0.6964285714rem  +  0.8928571429vw , 1.125rem )) {
  .header-logo__text-status {
    font-size: clamp( 0.875rem , 0.6964285714rem  +  0.8928571429vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.6964285714rem  +  0.8928571429vw , 1.125rem )) {
  .header-logo__text-status {
    font-size: calc(
         0.875rem + 0.25 * (100vw - 20rem) / 28
      );
  }
}

.header-menu {
  margin-top: 37px;
}
@media (max-width: 47.99875em) {
  .header-menu {
    display: none;
  }
}
.header-menu__link {
  line-height: 1.1875;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  color: #1B1D1F;
  transition: color 0.3s ease 0s;
}
@media (pointer: fine) {
  .header-menu__link:hover {
    color: #46B1DE;
  }
}
@supports (margin-right: clamp( 0.9375rem , -1.3925970874rem  +  4.854368932vw , 2.1875rem )) {
  .header-menu__link:not(:last-child) {
    margin-right: clamp( 0.9375rem , -1.3925970874rem  +  4.854368932vw , 2.1875rem );
  }
}
@supports not (margin-right: clamp( 0.9375rem , -1.3925970874rem  +  4.854368932vw , 2.1875rem )) {
  .header-menu__link:not(:last-child) {
    margin-right: calc(
         0.9375rem + 1.25 * (100vw - 48rem) / 25.75
      );
  }
}

.header-actions {
  z-index: 200;
  margin-top: 37px;
}
@media (max-width: 61.99875em) {
  .header-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.header-actions__row {
  cursor: default;
  position: relative;
}
.header-actions__row:nth-child(3) {
  top: -2px;
}
@media (max-width: 61.99875em) {
  .header-actions__row:first-child {
    order: 1;
  }
  .header-actions__row:nth-child(2) {
    order: 3;
  }
  .header-actions__row:last-child {
    order: 2;
  }
}
@media (max-width: 47.99875em) {
  .header-actions__row:nth-child(3) {
    margin-bottom: 10px;
  }
}
.header-actions__phone {
  margin-right: 23px;
  position: relative;
  color: #1B1D1F;
  line-height: 1.1875;
  white-space: nowrap;
  transition: color 0.3s ease 0s;
}
.header-actions__phone.white {
  color: #ffffff;
}
@media (pointer: fine) {
  .header-actions__phone:hover {
    color: #46B1DE;
  }
}
@media (max-width: 47.99875em) {
  .header-actions__phone {
    margin-right: 0;
  }
}
.header-actions__phone::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 18px;
  height: 18px;
}
@media (max-width: 61.99875em) {
  .header-actions__phone::before {
    display: none;
  }
}
.header-actions__lang {
  color: #000000;
  line-height: 1.2;
  font-size: 20px;
  transition: color 0.3s ease 0s;
}
@media (pointer: fine) {
  .header-actions__lang:hover {
    color: #46B1DE;
  }
}
.header-actions__lang.white {
  color: #ffffff;
}
.header-actions__lang:not(:last-child) {
  margin-right: 7px;
}
.header-actions__separator {
  line-height: 1.2;
  font-size: 20px;
  position: relative;
  top: -1px;
  margin-right: 7px;
  color: #000000;
  cursor: default;
  transition: color 0.3s ease 0s;
}
.header-actions__separator.white {
  color: #ffffff;
}

.header__menu {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 180px;
  height: 100vh;
  background-color: #A1C7D4;
  transform: translate(100%);
  z-index: 100;
  transition: transform 0.3s ease 0s;
}
@media (min-width: 47.99875em) {
  .header__menu {
    display: none;
  }
}
.header__menu.open {
  transform: translate(0);
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
  transform: translate(0, -50%);
}
.menu__item {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}
.menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.icon-menu {
  z-index: 200;
  display: none;
}
@media (max-width: 29.99875em) {
  .icon-menu {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    top: -15px;
    cursor: pointer;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu.open span {
    transform: scale(0);
  }
  .icon-menu.open::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
    background-color: #ffffff;
  }
  .icon-menu.open::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
    background-color: #ffffff;
  }
}

/*===============MAIN-SCREEN================*/
.main-screen__body {
  height: 100%;
  position: relative;
}
.main-screen__description {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}
@media (max-width: 47.99875em) {
  .main-screen__description {
    margin-bottom: 40px;
  }
}
.main-screen__container {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 47.99875em) {
  .main-screen__container {
    flex-direction: column;
    align-items: center;
  }
}
.main-screen__cards {
  position: relative;
  top: -90px;
  left: 0;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
@media (max-width: 47.99875em) {
  .main-screen__cards {
    position: relative;
    top: -60px;
  }
}

.description-main-screen__container {
  width: 100%;
}
.description-main-screen__body {
  display: flex;
  padding-top: 8.072%;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .description-main-screen__body {
    flex-direction: column;
    align-items: center;
  }
}
.description-main-screen__bacgroud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.description-main-screen__text {
  margin: 78px 0 0 105px;
}
@media (max-width: 47.99875em) {
  .description-main-screen__text {
    margin: 115px 0 0 0;
    text-align: center;
  }
}
.description-main-screen__img {
  position: relative;
}
@media (max-width: 84.4375em) {
  .description-main-screen__img {
    top: -4px;
  }
}
@media (max-width: 61.99875em) {
  .description-main-screen__img {
    width: 300px;
    height: 423px;
  }
}
@media (max-width: 47.99875em) {
  .description-main-screen__img {
    width: 200px;
    height: 282px;
    left: -23px;
  }
}
.description-main-screen__img img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.text-main-screen__title {
  max-width: 493px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.1em;
  transition: all 0.8s ease 0s;
  margin-bottom: 17px;
  transform: translate(0, 70%);
  opacity: 0;
}
@supports (font-size: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem )) {
  .text-main-screen__title {
    font-size: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem )) {
  .text-main-screen__title {
    font-size: calc(
         1.25rem + 1.25 * (100vw - 20rem) / 53.75
      );
  }
}
.text-main-screen__title span {
  color: #46B1DE;
}
.text-main-screen__title._animated {
  transform: translate(0, 0);
  opacity: 1;
}
.text-main-screen__text {
  max-width: 464px;
  line-height: 1.4;
  margin-bottom: 35px;
  transform: translate(0, 70%);
  opacity: 0;
  transition: all 0.8s ease 0.3s;
}
.text-main-screen__text._animated {
  transform: translate(0, 0);
  opacity: 1;
}
.text-main-screen__buttons {
  display: flex;
  justify-content: space-between;
  transform: translate(0, 70%);
  opacity: 0;
  transition: all 0.8s ease 0.3s;
}
@media (max-width: 47.99875em) {
  .text-main-screen__buttons {
    align-items: center;
  }
}
.text-main-screen__buttons._animated {
  transform: translate(0, 0);
  opacity: 1;
}
.text-main-screen__call {
  color: #ffffff;
  background-color: #46B1DE;
  border: 1px solid #1B1D1F;
  border-radius: 8px;
  min-width: 180px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .text-main-screen__call {
    margin-bottom: 15px;
    min-width: 140px;
  }
}
.text-main-screen__service {
  color: #46B1DE;
  background-color: #ffffff;
  border: 1px solid #1B1D1F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-right: 16px;
  min-width: 180px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .text-main-screen__service {
    margin-right: 0;
    margin-bottom: 15px;
    min-width: 140px;
  }
}

.cards-main-screen__card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  height: 120px;
  background-color: #ffffff;
  border: 1px solid #1B1D1F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transform: translate(-70%, 0);
  opacity: 0;
  transition: all 0.8s ease 0.6s;
}
.cards-main-screen__card._animated {
  transform: translate(0, 0);
  opacity: 1;
}
@supports (margin-right: clamp( 1.25rem , -4.5752427184rem  +  12.1359223301vw , 4.375rem )) {
  .cards-main-screen__card:not(:last-child) {
    margin-right: clamp( 1.25rem , -4.5752427184rem  +  12.1359223301vw , 4.375rem );
  }
}
@supports not (margin-right: clamp( 1.25rem , -4.5752427184rem  +  12.1359223301vw , 4.375rem )) {
  .cards-main-screen__card:not(:last-child) {
    margin-right: calc(
         1.25rem + 3.125 * (100vw - 48rem) / 25.75
      );
  }
}
@supports (margin-left: clamp( 0.0000000625rem , -11.8834949666rem  +  24.7572813107vw , 6.375rem )) {
  .cards-main-screen__card:first-child {
    margin-left: clamp( 0.0000000625rem , -11.8834949666rem  +  24.7572813107vw , 6.375rem );
  }
}
@supports not (margin-left: clamp( 0.0000000625rem , -11.8834949666rem  +  24.7572813107vw , 6.375rem )) {
  .cards-main-screen__card:first-child {
    margin-left: calc(
         0.0000000625rem + 6.3749999375 * (100vw - 48rem) / 25.75
      );
  }
}
.cards-main-screen__card:nth-child(2) .cards-main-screen__text {
  max-width: 114px;
}
@media (max-width: 47.99875em) {
  .cards-main-screen__card {
    transition: all 0.8s ease 0s;
  }
  .cards-main-screen__card:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .cards-main-screen__card:first-child {
    margin-left: 0px;
  }
}
.cards-main-screen__number {
  color: #46B1DE;
  line-height: 1.1692;
  margin-right: 7px;
  margin-left: 15px;
}
@supports (font-size: clamp( 2.1875rem , 1.4898255814rem  +  3.488372093vw , 4.0625rem )) {
  .cards-main-screen__number {
    font-size: clamp( 2.1875rem , 1.4898255814rem  +  3.488372093vw , 4.0625rem );
  }
}
@supports not (font-size: clamp( 2.1875rem , 1.4898255814rem  +  3.488372093vw , 4.0625rem )) {
  .cards-main-screen__number {
    font-size: calc(
         2.1875rem + 1.875 * (100vw - 20rem) / 53.75
      );
  }
}
.cards-main-screen__text {
  max-width: 146px;
  font-size: 14px;
  line-height: 1.14;
}

/*===============MAIN-SCREEN================*/
/*===============WHY-ME================*/
.why-me {
  margin-bottom: 60px;
}
@media (max-width: 47.99875em) {
  .why-me {
    margin-bottom: 30px;
  }
}
.why-me__title {
  text-align: center;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 5px;
}
@supports (font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem )) {
  .why-me__title {
    font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem )) {
  .why-me__title {
    font-size: calc(
         1.125rem + 1 * (100vw - 20rem) / 53.75
      );
  }
}
.why-me__title span {
  color: #46B1DE;
}
.why-me__text {
  text-align: center;
  margin: 0 auto 35px auto;
  line-height: 1.4;
  max-width: 612px;
}
.why-me__advantages {
  position: relative;
  padding: 20px 16px;
  background-color: #A1C7D4;
  display: flex;
  border-radius: 12px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
}
@media (max-width: 65.625em) {
  .why-me__advantages {
    flex-direction: column;
  }
}
@media (max-width: 21.875em) {
  .why-me__advantages {
    padding: 20px 5px;
    left: -10px;
  }
}

.me-advantages__row {
  display: flex;
  flex-direction: column;
}
.me-advantages__row:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 65.625em) {
  .me-advantages__row {
    flex-direction: row;
  }
  .me-advantages__row:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media (max-width: 47.99875em) {
  .me-advantages__row {
    flex-direction: column;
  }
}
.me-advantages__card {
  width: 300px;
  height: 176px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #ffffff;
  border-radius: 8px;
}
.me-advantages__card:not(:last-child) {
  margin-bottom: 12px;
}
@media (max-width: 65.625em) {
  .me-advantages__card:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}
@media (max-width: 47.99875em) {
  .me-advantages__card:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

.card-advantage__title {
  display: flex;
  align-items: center;
  color: #46B1DE;
  margin-bottom: 17px;
}
.card-advantage__number {
  font-size: 40px;
  line-height: 1.175;
  margin-right: 15px;
}
.card-advantage__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.166;
}
.card-advantage__content {
  line-height: 1.1875;
  margin-right: 15px;
}

/*===============WHY-ME================*/
/*===============SERVICES================*/
.services {
  margin-bottom: 85px;
}
@media (max-width: 65.625em) {
  .services {
    margin-bottom: 60px;
  }
}
@media (max-width: 47.99875em) {
  .services {
    margin-bottom: 45px;
  }
}
.services__title {
  text-align: center;
  line-height: 1.1765;
  margin-bottom: 60px;
}
@supports (font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem )) {
  .services__title {
    font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem )) {
  .services__title {
    font-size: calc(
         1.125rem + 1 * (100vw - 20rem) / 53.75
      );
  }
}
.services__title span {
  color: #46B1DE;
}
@media (max-width: 65.625em) {
  .services__title {
    margin-bottom: 110px;
  }
}
.services__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services__body .services__content:first-child {
  text-align: right;
}
.services__body .services__content:first-child .content-services__item:first-child {
  margin-right: 65px;
}
.services__body .services__content:first-child .content-services__item:nth-child(2) {
  margin-right: 130px;
}
.services__body .services__content:first-child .content-services__item:last-child {
  margin-right: 35px;
}
.services__body .services__content:last-child .content-services__item:first-child {
  margin-left: 65px;
}
.services__body .services__content:last-child .content-services__item:nth-child(2) {
  margin-left: 130px;
}
.services__body .services__content:last-child .content-services__item:last-child {
  margin-left: 35px;
}
@media (max-width: 65.625em) {
  .services__body {
    flex-direction: column;
  }
  .services__body .services__content:first-child {
    text-align: center;
  }
  .services__body .services__content:first-child .content-services__item:first-child {
    margin-right: 0px;
  }
  .services__body .services__content:first-child .content-services__item:nth-child(2) {
    margin-right: 0px;
  }
  .services__body .services__content:first-child .content-services__item:last-child {
    margin-right: 0px;
  }
  .services__body .services__content:last-child {
    text-align: center;
  }
  .services__body .services__content:last-child .content-services__item:first-child {
    margin-left: 0px;
  }
  .services__body .services__content:last-child .content-services__item:nth-child(2) {
    margin-left: 0px;
  }
  .services__body .services__content:last-child .content-services__item:last-child {
    margin-left: 0px;
  }
}
.services__content {
  flex: 0 0 430px;
  position: relative;
  top: 25px;
}
.services__content:first-child .content-services__item:first-child {
  transform: translate(-50%, -80%);
  opacity: 0;
}
@media (max-width: 65.625em) {
  .services__content:first-child .content-services__item:first-child {
    transform: translate(-50%, 0%);
  }
}
.services__content:first-child .content-services__item:first-child._animated {
  opacity: 1;
  transform: translate(0%, 0%);
}
.services__content:first-child .content-services__item:nth-child(2) {
  opacity: 0;
  transform: translate(-50%, 0%);
}
@media (max-width: 65.625em) {
  .services__content:first-child .content-services__item:nth-child(2) {
    transform: translate(50%, 0%);
  }
}
.services__content:first-child .content-services__item:nth-child(2)._animated {
  opacity: 1;
  transform: translate(0%, 0%);
}
.services__content:first-child .content-services__item:last-child {
  opacity: 0;
  transform: translate(-50%, 80%);
}
@media (max-width: 65.625em) {
  .services__content:first-child .content-services__item:last-child {
    transform: translate(-50%, 0%);
  }
}
.services__content:first-child .content-services__item:last-child._animated {
  opacity: 1;
  transform: translate(0%, 0%);
}
@media (max-width: 65.625em) {
  .services__content:first-child {
    order: 2;
    margin-bottom: 30px;
    transform: translate(0%, 0%);
  }
}
.services__content:last-child .content-services__item:first-child {
  opacity: 0;
  transform: translate(50%, -80%);
}
@media (max-width: 65.625em) {
  .services__content:last-child .content-services__item:first-child {
    transform: translate(50%, 0%);
  }
}
.services__content:last-child .content-services__item:first-child._animated {
  opacity: 1;
  transform: translate(0%, 0%);
}
.services__content:last-child .content-services__item:nth-child(2) {
  opacity: 0;
  transform: translate(50%, 0%);
}
@media (max-width: 65.625em) {
  .services__content:last-child .content-services__item:nth-child(2) {
    transform: translate(-50%, 0%);
  }
}
.services__content:last-child .content-services__item:nth-child(2)._animated {
  opacity: 1;
  transform: translate(0%, 0%);
}
.services__content:last-child .content-services__item:last-child {
  opacity: 0;
  transform: translate(50%, 80%);
}
@media (max-width: 65.625em) {
  .services__content:last-child .content-services__item:last-child {
    transform: translate(50%, 0%);
  }
}
.services__content:last-child .content-services__item:last-child._animated {
  opacity: 1;
  transform: translate(0%, 0%);
}
@media (max-width: 65.625em) {
  .services__content:last-child {
    order: 3;
  }
}
@media (max-width: 65.625em) {
  .services__content {
    top: 0;
    flex: 1 1 auto;
  }
}
.services__img {
  flex: 0 0 115px;
  position: relative;
  top: -15px;
}
.services__img::before {
  content: "";
  position: absolute;
  left: -50%;
  top: -50%;
  transform: translate(25px, 12px);
  width: 302px;
  height: 302px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #1B1D1F;
}
@media (max-width: 21.8125em) {
  .services__img::before {
    transform: translate(30px, 25px);
    width: 300px;
    height: 272px;
  }
}
.services__img span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #46B1DE;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  /*opacity:0;
  &._animated{
     opacity: 1;
  }*/
}
.services__img span:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out 0s;
}
.services__img span:nth-child(2)._animated {
  transform: translate(0%, 0%);
  top: -43px;
  left: -27px;
}
@media (max-width: 21.8125em) {
  .services__img span:nth-child(2)._animated {
    left: -10px;
  }
}
.services__img span:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out 0s;
}
.services__img span:nth-child(3)._animated {
  transform: translate(0%, 0%);
  top: 70px;
  left: -77px;
}
@media (max-width: 21.8125em) {
  .services__img span:nth-child(3)._animated {
    left: -70px;
  }
}
.services__img span:nth-child(4) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out 0s;
}
.services__img span:nth-child(4)._animated {
  transform: translate(0%, 0%);
  top: 180px;
  left: -29px;
}
@media (max-width: 21.8125em) {
  .services__img span:nth-child(4)._animated {
    left: -10px;
  }
}
.services__img span:nth-child(5) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out 0s;
}
.services__img span:nth-child(5)._animated {
  transform: translate(0%, 0%);
  top: -40px;
  left: 175px;
}
@media (max-width: 21.8125em) {
  .services__img span:nth-child(5)._animated {
    left: 170px;
  }
}
.services__img span:nth-child(6) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out 0s;
}
.services__img span:nth-child(6)._animated {
  transform: translate(0%, 0%);
  top: 70px;
  left: 225px;
}
@media (max-width: 21.8125em) {
  .services__img span:nth-child(6)._animated {
    left: 225px;
  }
}
.services__img span:nth-child(7) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out 0s;
}
.services__img span:nth-child(7)._animated {
  transform: translate(0%, 0%);
  top: 180px;
  left: 175px;
}
@media (max-width: 21.8125em) {
  .services__img span:nth-child(7)._animated {
    left: 165px;
  }
}
@media (max-width: 65.625em) {
  .services__img {
    order: 1;
    margin-bottom: 90px;
  }
}

.content-services__item {
  position: relative;
  transition: unset;
}
.content-services__item:first-child {
  margin-bottom: 30px;
}
.content-services__item:nth-child(2) {
  margin-bottom: 45px;
}
.content-services__item._animated {
  transition: all 0.8s ease-in-out 0s;
}
.content-services__title {
  font-weight: 600;
  line-height: 135%;
  color: #46B1DE;
  margin-bottom: 5px;
  white-space: nowrap;
}
@supports (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
  .content-services__title {
    font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
  .content-services__title {
    font-size: calc(
         1rem + 0.25 * (100vw - 20rem) / 53.75
      );
  }
}
.content-services__text {
  line-height: 19px;
}

/*===============SERVICES================*/
/*===============CONSULTATION================*/
.consultation {
  margin-bottom: 40px;
}
@media (max-width: 47.99875em) {
  .consultation {
    margin-bottom: 30px;
  }
}
.consultation__body {
  max-width: 845px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 12px;
}
.consultation__item {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  text-align: center;
}
.consultation__title {
  text-align: center;
  text-transform: uppercase;
  line-height: 130%;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
@supports (font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem )) {
  .consultation__title {
    font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem )) {
  .consultation__title {
    font-size: calc(
         1.125rem + 1 * (100vw - 20rem) / 53.75
      );
  }
}
.consultation__title span {
  color: #46B1DE;
}
.consultation__text {
  text-align: center;
  line-height: 140%;
  margin-bottom: 30px;
  margin-right: 5px;
  margin-left: 5px;
}
.consultation__btn {
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  padding: 29px 42.5px;
  background-color: #46B1DE;
  color: #ffffff;
}
@supports (font-size: clamp( 1rem , 0.9302325581rem  +  0.3488372093vw , 1.1875rem )) {
  .consultation__btn {
    font-size: clamp( 1rem , 0.9302325581rem  +  0.3488372093vw , 1.1875rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9302325581rem  +  0.3488372093vw , 1.1875rem )) {
  .consultation__btn {
    font-size: calc(
         1rem + 0.1875 * (100vw - 20rem) / 53.75
      );
  }
}
@media (max-width: 21.8125em) {
  .consultation__btn {
    padding: 19px 22.5px;
  }
}

/*===============CONSULTATION================*/
/*===============IMAGES================*/
.images {
  margin-bottom: 60px;
}
@media (max-width: 47.99875em) {
  .images {
    margin-bottom: 30px;
  }
}
.images__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 47.99875em) {
  .images__container {
    flex-direction: column;
  }
}
.images__img {
  transform: scale(0);
}
.images__img._animated {
  transition: all 0.8s ease 0s;
  transform: scale(1);
}
@supports (margin-right: clamp( 1.5625rem , -3.6802184466rem  +  10.9223300971vw , 4.375rem )) {
  .images__img:not(:last-child) {
    margin-right: clamp( 1.5625rem , -3.6802184466rem  +  10.9223300971vw , 4.375rem );
  }
}
@supports not (margin-right: clamp( 1.5625rem , -3.6802184466rem  +  10.9223300971vw , 4.375rem )) {
  .images__img:not(:last-child) {
    margin-right: calc(
         1.5625rem + 2.8125 * (100vw - 48rem) / 25.75
      );
  }
}
@media (max-width: 47.99875em) {
  .images__img:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/*===============IMAGES================*/
.footer {
  background-color: #A1C7D4;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
@media (max-width: 47.99875em) {
  .footer__container {
    flex-direction: column;
    justify-content: left;
  }
}
.footer__text {
  margin-top: 33px;
}
@supports (margin-left: clamp( 0.0000000625rem , -12.2330095297rem  +  25.4854366505vw , 6.5625rem )) {
  .footer__text {
    margin-left: clamp( 0.0000000625rem , -12.2330095297rem  +  25.4854366505vw , 6.5625rem );
  }
}
@supports not (margin-left: clamp( 0.0000000625rem , -12.2330095297rem  +  25.4854366505vw , 6.5625rem )) {
  .footer__text {
    margin-left: calc(
         0.0000000625rem + 6.5624999375 * (100vw - 48rem) / 25.75
      );
  }
}
.footer__contacts {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
}
@supports (margin-right: clamp( 0.0000000625rem , -12.2330095297rem  +  25.4854366505vw , 6.5625rem )) {
  .footer__contacts {
    margin-right: clamp( 0.0000000625rem , -12.2330095297rem  +  25.4854366505vw , 6.5625rem );
  }
}
@supports not (margin-right: clamp( 0.0000000625rem , -12.2330095297rem  +  25.4854366505vw , 6.5625rem )) {
  .footer__contacts {
    margin-right: calc(
         0.0000000625rem + 6.5624999375 * (100vw - 48rem) / 25.75
      );
  }
}
@media (max-width: 47.99875em) {
  .footer__contacts {
    margin-top: 15px;
  }
}

.text-footer__contacts {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.1765;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@supports (font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem )) {
  .text-footer__contacts {
    font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.7529069767rem  +  1.8604651163vw , 2.125rem )) {
  .text-footer__contacts {
    font-size: calc(
         1.125rem + 1 * (100vw - 20rem) / 53.75
      );
  }
}
.text-footer__name {
  line-height: 135%;
  margin-bottom: 16px;
}
@supports (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
  .text-footer__name {
    font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
  .text-footer__name {
    font-size: calc(
         1rem + 0.25 * (100vw - 20rem) / 53.75
      );
  }
}
.text-footer__city {
  line-height: 135%;
  color: #000000;
}
@supports (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
  .text-footer__city {
    font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
  .text-footer__city {
    font-size: calc(
         1rem + 0.25 * (100vw - 20rem) / 53.75
      );
  }
}

.contact-footer__contact {
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  transition: all 0.3s ease 0s;
}
.contact-footer__contact:not(:last-child) {
  height: 27px;
  display: flex;
  align-items: center;
}
.contact-footer__contact:not(:nth-child(3)) {
  margin-bottom: 16px;
}
.contact-footer__contact:nth-child(3) {
  margin-bottom: 27px;
}
.contact-footer__contact::before {
  position: absolute;
  top: 0;
  left: -42px;
  font-size: 27px;
}
@media (pointer: fine) {
  .contact-footer__contact:hover {
    color: #FFFFFF;
  }
}
@media (max-width: 47.99875em) {
  .contact-footer__contact {
    left: 40px;
  }
}
.contact-footer__copiright {
  text-align: right;
  font-size: 13px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 9px;
}

.page-404 {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 220px 0 30px 0;
}
@media (max-width: 29.99875em) {
  .page-404 {
    margin: 126px 0 20px 0;
  }
}
.page-404__body {
  text-align: center;
}
.page-404__tittle {
  margin-bottom: 15px;
}
@supports (font-size: clamp( 3.375rem , 0.4447674419rem  +  14.6511627907vw , 11.25rem )) {
  .page-404__tittle {
    font-size: clamp( 3.375rem , 0.4447674419rem  +  14.6511627907vw , 11.25rem );
  }
}
@supports not (font-size: clamp( 3.375rem , 0.4447674419rem  +  14.6511627907vw , 11.25rem )) {
  .page-404__tittle {
    font-size: calc(
         3.375rem + 7.875 * (100vw - 20rem) / 53.75
      );
  }
}
.page-404__text {
  margin-bottom: 30px;
}
@supports (font-size: clamp( 1.125rem , 0.613372093rem  +  2.5581395349vw , 2.5rem )) {
  .page-404__text {
    font-size: clamp( 1.125rem , 0.613372093rem  +  2.5581395349vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.613372093rem  +  2.5581395349vw , 2.5rem )) {
  .page-404__text {
    font-size: calc(
         1.125rem + 1.375 * (100vw - 20rem) / 53.75
      );
  }
}
.page-404__button {
  font-family: "Roboto";
  color: #46B1DE;
}
@supports (font-size: clamp( 1.125rem , 0.8459302326rem  +  1.3953488372vw , 1.875rem )) {
  .page-404__button {
    font-size: clamp( 1.125rem , 0.8459302326rem  +  1.3953488372vw , 1.875rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.8459302326rem  +  1.3953488372vw , 1.875rem )) {
  .page-404__button {
    font-size: calc(
         1.125rem + 0.75 * (100vw - 20rem) / 53.75
      );
  }
}
.page-404__button a {
  position: relative;
}
.page-404__button a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background: #A1C7D4;
  transition: width 0.3s ease-in-out;
}
.page-404__button a:hover::after {
  width: 100%;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-instagram:before {
  content: "\e900";
}

._icon-mail:before {
  content: "\e901";
}

._icon-phone:before {
  content: "\e902";
}

._icon-phone1:before {
  content: "\e903";
}

/*----POP-UP----*/
/*----POP-UP----*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: #46B1DE;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(-150%, 0);
}
@media (max-width: 29.99875em) {
  .popup__content {
    padding: 30px 15px;
  }
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  font-size: 20px;
}

.popup__text-link h4 {
  font-weight: 500;
  font-size: 34px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
  white-space: nowrap;
}
@media (max-width: 29.99875em) {
  .popup__text-link h4 {
    font-size: 30px;
  }
}

.popup__text {
  display: flex;
  justify-content: center;
}

.popup__mesengers {
  display: flex;
  justify-content: center;
}
@media (max-width: 47.99875em) {
  .popup__mesengers {
    flex-direction: column;
  }
}

.popup__mesenger {
  display: flex;
  flex-direction: column;
}

.popup__mesenger-link-img {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto 10px auto;
}
.popup__mesenger-link-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.popup__viber {
  padding: 10px 15px;
  background-color: #7B519D;
  color: #fff;
  border-radius: 10px;
  margin-right: 15px;
  position: relative;
  white-space: nowrap;
  text-align: center;
  min-width: 205px;
}
@media (max-width: 47.99875em) {
  .popup__viber {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

.popup__telegram {
  background-color: #0088CC;
  padding: 10px 15px;
  color: #fff;
  border-radius: 10px;
  margin-right: 15px;
  white-space: nowrap;
  text-align: center;
  min-width: 205px;
}
@media (max-width: 47.99875em) {
  .popup__telegram {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

.popup__watsapp {
  background-color: #4DC247;
  padding: 10px 15px;
  color: #fff;
  border-radius: 10px;
  white-space: nowrap;
  text-align: center;
  min-width: 205px;
}

/*----POP-UP-JS----*/
.popup.open .popup__content {
  transform: translate(0%, 0);
  opacity: 1;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

/*----POP-UP-JS----*/
.test {
  color: #46B1DE;
}
