.error-input {
   position: absolute;
   left: 0;
   bottom: rem(-25);
   color: red;
}

._title{
   font-weight: 700;
   @include adaptiveValueREM('font-size', 34, 18);
   line-height: 130%;
   color: $mainColor;
   max-width: 610px;
   @include adaptiveValueREM('margin-bottom', 50,30 );
   @media (max-width: $tablet) {
   text-align: center;
   max-width: unset;
   }
}

._title-img{
   font-weight: 700;
font-size: 20px;
line-height: 135%;
margin: 20px 0 5px 0;
@media (max-width: $tablet) {
   margin: 10px 0 5px 0;
}
}

._title-icon{
   font-weight: 700;
   font-size: 20px;
   line-height: 135%;
   margin: 0 0 5px 0;
   @media (max-width: $tablet) {
      margin: 0 0 5px 0;
   }
}

._title-block{
   h2{
      font-weight: 700;
      @include adaptiveValueREM('font-size', 34, 18);
      line-height: 130%;
      color: $mainColor;
      @include adaptiveValueREM('margin-bottom', 50,30 );
      @media (max-width: $tablet) {
         text-align: center;
         }
   }
   p{
      max-width: 580px;
      text-align: justify;
      line-height: 135%;
      color: $mainColor;
      @include adaptiveValueREM('margin-bottom', 90,30 );
      @media (max-width: $tablet) {
         margin-left: auto;
         margin-right: auto;
         text-align: center;
         }
   }
}

.attention {
   display: flex;
   align-items: center;
   @include adaptiveValueREM('margin-bottom', 90,30 );
   @media (max-width: $mobile) {
   flex-direction: column;
   align-items: center;
   }
      &__img {
         margin-right: 27px;
         @media (max-width: $mobile) {
            margin-right: 0px;
            margin-bottom: 10px;
         }
      }
      &__text {
         max-width: 990px;
         &.min{
            max-width: 595px;
         }
      }
   }

   .img-block-two {
      display: flex;
      @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      }
      @include adaptiveValueREM('margin-bottom',50, 20);
         &__item {
            max-width: 480px;
            @media (max-width: $mobileSmall) {
               max-width: 280px;
               picture{
                  position: relative;
                  img {
                  position: relative;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: fill;
                  }
               }
            }
            &:not(:last-child){
               @include adaptiveValueREM('margin-right',120, 20, 1400,992,1);
               @media (max-width: $tablet) {
               margin-right: unset;
               margin-bottom: 35px;
               }
            }
         }
      }

.img-block-three {
display: flex;
@media (max-width: $tablet) {
flex-direction: column;
align-items: center;
}
@include adaptiveValueREM('margin-bottom',50, 20);
   &__item {
      max-width: 280px;
      &:not(:last-child){
         @include adaptiveValueREM('margin-right',120, 60, 1400,992,1);
         @media (max-width: $tablet) {
            margin-right: unset;
            margin-bottom: 35px;
         }
      }
   }
   &__text{
      line-height: 140%;
   }
}

.img-block-four {
display: flex;
@include adaptiveValueREM('margin-bottom',50, 20);
@media (max-width: em(1220)) {
flex-direction: column;

}
   &__row {
      display: flex;
      @media (max-width: $tablet) {
      justify-content: center;
      }
      @media (max-width: $mobile) {
         flex-direction: column;
         align-items: center;
      }
      &:not(:last-child){
         margin-right: 20px;
         @media (max-width: em(1220)) {
            margin-right: 0px;
            margin-bottom: 35px;
         }
      }
      
   }

   &__item {
      max-width: 280px;
      @media (max-width: em(1220)) {
         max-width: unset;
         width: 480px;
         }
         @media (max-width: $tablet) {
         width: 280px;
         }
      &:not(:last-child){
         margin-right: 20px;
         @media (max-width: em(1220)) {
            margin-right: 120px;
            }
            @media (max-width: $mobile) {
            margin-right:  0;
            margin-bottom: 35px;
            }
      }
   }
}


.icon-six {
display: grid;
grid-template-columns: repeat(3, minmax(253px, 353px));
grid-template-rows: auto auto;
row-gap: 70px;
@include adaptiveValueREM('column-gap', 47, 20, 1400,992,1);
@media (max-width: $tablet) {
   grid-template-columns: repeat(2, minmax(253px, 353px));
   grid-template-rows: auto auto auto;
   justify-content: center;
}
@media (max-width: $mobile) {
   grid-template-columns: minmax(253px, 353px);
   grid-template-rows: repeat(6, auto);
   row-gap: 30px;
}
   &__item {
      display: flex;
      picture{
         margin-right: 20px;
      }
   }

   &__content {
   }

   &__title {
   }

   &__text {
   }
}


.icon-three {
display: flex;
@media (max-width: $tablet) {
flex-direction: column;
align-items: center;
}
   &__item {
      display: flex;
      &:not(:last-child){
         margin-right: 20px;
         @media (max-width: $tablet) {
            margin-right: 0;
            margin-bottom: 30px;
         }
      }
      picture{
         margin-right: 20px;
      }
   }
   &__content {
   }

   &__title {
   }

   &__text {
      max-width: 280px;
   }
}






