//====================================================================================================
.footer {
   background-color: $paleBlue;
   background: linear-gradient(91.75deg, #A1C7D4 10.71%, #0680AA 90.82%);
}

.footer {

   &__container {
   }

   &__body {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      margin-bottom: 40px;
      @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      }
   }

   &__content {
   }

   &__contacts {
   }
}
.content-footer {

   &__logo {
      display: flex;
      @media (max-width: $mobile) {
         margin-bottom: 20px;
      }
   }

   &__logo-img {
      margin-right: 10px;
   }

   &__logo-title {
      line-height: 140%;
      color: #0F2D4A;
      margin-bottom: 40px;
      h2{
         line-height: 120%;
         @include adaptiveValueREM('font-size', 38, 20);
      }
      h3{
         @include adaptiveValueREM('font-size', 28, 16);
      }

   }

   &__text {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   justify-content: space-between;
   @media (max-width: $mobile) {
   flex-direction: column;
   text-align: left;
   margin-bottom: 35px;
   }
   }
}
.contant-footer {

   &__menu {
      & > a {
      display: block;
      margin-bottom: 20px;
      color: #0F2D4A;
      font-size: 20px;
      line-height: 135%;
      max-width: fit-content;
      transition: all 0.3s ease 0s;
         &._current-page-home{
            color: #126dc2;
         }
         @media (pointer: fine) {
            &:hover {
               color: #ffffff;
            }
         }
      }
      button {
      color: #0F2D4A;
      font-size: 20px;
      line-height: 135%;
      transition: all 0.3s ease 0s;
         @media (pointer: fine) {
            &:hover {
               color: #ffffff;
            }
         }
      }
      @media (max-width: $mobile) {
      margin-bottom: 20px;
      width: 100%;
      }
   }

   &__menu-services {
      display: block;
      //margin-bottom: 20px;
   }

   &__menu-list {
      padding-top: 0px;
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease 0s;
      @media (max-width: $mobile) {
         opacity: unset;
         visibility: unset;
         li{
            opacity: 0;
            visibility: hidden;
         }
         li:first-child{
            transition: all 0.3s ease 0s;
         }
         li:nth-child(2){
            transition: all 0.25s ease 0s;
         }
         li:nth-child(3){
            transition: all 0.2s ease 0s;
         }
         li:nth-child(4){
            transition: all 0.15s ease 0s;
         }
         li:nth-child(5){
            transition: all 0.1s ease 0s;
         }
         li:nth-child(6){
            transition: all 0s ease 0s;
         }
      }
      

      &.active{
         padding-bottom: 20px;
         padding-top: 20px;
         height: 235px;
         opacity: 1;
         visibility: visible;
         @media (max-width: $mobile) {
            li:first-child{
               transition: all 0.5s ease 0s;
               opacity: 1;
               visibility: visible;
            }
            li:nth-child(2){
               transition: all 0.5s ease 0.05s;
               opacity: 1;
               visibility: visible;
            }
            li:nth-child(3){
               transition: all 0.5s ease 0.1s;
               opacity: 1;
               visibility: visible;
            }
            li:nth-child(4){
               transition: all 0.5s ease 0.15s;
               opacity: 1;
               visibility: visible;
            }
            li:nth-child(5){
               transition: all 0.5s ease 0.2s;
               opacity: 1;
               visibility: visible;
            }
            li:nth-child(6){
               transition: all 0.5s ease 0.25s;
               opacity: 1;
               visibility: visible;
            }
         }
      }
   }

   &__menu-item {
      &:not(:last-child){
         margin-bottom: 10px;
      }
   }

   &__menu-link {
      position: relative;
      color: #ffffff;
      font-size: 20px;
      line-height: 135%;
      margin-left: 20px;
      width: fit-content;
      
      &._current-page-prosthesis,
      &._current-page-cleaning,
      &._current-page-pediatrician,
      &._current-page-plasmotherapy,
      &._current-page-surgery,
      &._current-page-therapeutic {
         color: #126dc2;
      }
      @media (max-width: $mobile) {
      margin-left: 0px;
      }
      @media (pointer: fine) {
         transition: all 0.3s ease 0s;
         &:hover {
            color: #126dc2;
            &::after{
               width: 100%;
            }
         }
      }
      &::after{
         content: '';
         position: absolute;
         bottom: -5px;
         left: 0;
         width: 0;
         height: 2px;
         background-color: #126dc2;
         transition: all 0.5s ease 0s;
      }
   }

   &__working-hours {
      @media (max-width: $mobile) {
      width: 100%;
      text-align: left;
      }
   }

   &__working-hours-title {
      color: #0F2D4A;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 7px;
        white-space: nowrap;
   }

   &__working-hours-text {
      color: #0F2D4A;
        font-size: 16px;
   }
}
.contacts-footer {
   color: #ffffff;
   &__title {
      font-weight: 600;
      @include adaptiveValueREM('font-size', 34, 20);
      line-height: 1.1764;
      margin-bottom: 20px;
   }

   &__name {
      font-size: 20px;
      line-height: 135%;
      margin-bottom: 20px;
   }

   &__address {
      font-size: 20px;
      line-height: 135%;
      margin-bottom: 30px;
   }

   &__phone {
      
   }

   &__phone-link {
      display: block;
      position: relative;
      font-size: 20px;
      left: 32px;
      margin-bottom: 15px;
      width: fit-content;
      transition: all 0.3s ease 0s;
      @media (pointer: fine) {
         &:hover {
            color: #126dc2;
            &::before{
               color: #126dc2;;
            }
            &::after{
               width: 100%;
            }
         }
      }
      &::before{
         position: absolute;
         top: 50%;
         transform: translate(0, -50%);
         left: -32px;
         font-size: 26px;
         transition: all 0.3s ease 0s;
      }
      &::after{
         content: '';
         position: absolute;
         bottom: -5px;
         left: 0;
         width: 0;
         height: 2px;
         background-color: #126dc2;
         transition: all 0.5s ease 0s;
      }
   }

   &__mesengers {
      display: flex;
      a{
         display: block;
         position: relative;
         width: 30px;
         height: 30px;
         margin-bottom: 25px;
         color: #ffffff;
         &:not(:last-child){
            margin-right: 20px;
         }
         @media (pointer: fine) {
            &:hover {
               img{
                  &:last-child{
                     opacity: 1;
                     visibility: visible;
                  }
                  &:first-child{
                     opacity: 0;
                     visibility: hidden;
                  }
               }
               
            }
         }
         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: all 0.8s ease 0s;
            &:last-child{
               opacity: 0;
               visibility: hidden;
            }
         }
      }
   }

   &__mesengers-viber {
   }

   &__mesengers-img {
   }

   &__mesengers-telegram {
   }

   &__mesengers-whatsapp {
   }

   &__social {
   }

   &__social-link {
      display: block;
      position: relative;
      font-size: 20px;
      left: 32px;
      margin-bottom: 15px;
      transition: all 0.5s ease 0s;
      width: fit-content;
      @media (pointer: fine) {
         &:hover {
            color: #126dc2;
            &::before{
               color: #EA4969;
            }
            &::after{
               width: 100%;
            }
         }
      }
      &::before{
         content: '';
         position: absolute;
         top: 50%;
         transform: translate(0, -50%);
         left: -32px;
         font-size: 26px;
         transition: all 0.5s ease 0s;
      }
      &::after{
         content: '';
         position: absolute;
         bottom: -5px;
         left: 0;
         width: 0;
         height: 2px;
         background-color: #126dc2;
         transition: all 0.5s ease 0s;
      }
   }
}
.contact-footer {

   &__copiright {
      text-align: right;
      margin-right: 60px;
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 130%;
      color: #ffffff;
   }
}

//====================================================================================================
