/*===============MAIN-SCREEN================*/
.main-screen {
   &__body {
      height: 100%;
      position: relative;
   }

   &__description {
      position: relative;
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;
      @media (max-width: $mobile) {
         margin-bottom: 40px;
      }
   }
   &__container{
      display: flex;
      justify-content: center;
      @media (max-width: $mobile) {
         flex-direction: column;
         align-items: center;
      }
   }

   &__cards {
      position: relative;
      top: -90px;
      left: 0;
      width: 100%;
      height: min-content;
      @media (max-width: $mobile) {
      position: relative;
      top: -60px;
      }
   }
}
.description-main-screen {

   &__container {
      width: 100%;
   }
   &__body{
      display: flex;
      padding-top: 8.072%;
      justify-content: space-between;
      @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      }

   }

   &__backgroud{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
   }

   &__text {
      margin: 78px 0 0 0px;
      @media (max-width: $mobile) {
         margin: 115px 0 0 0;
         text-align: center;
      }
   }

   &__img {
      position: relative;
      @media (max-width: em(1351)) {
      top: -4px;
      }
      @media (max-width: $tablet) {
      width: 300px;
      height: 423px;
      }
      @media (max-width: $mobile) {
         width: 200px;
         height: 282px;
         left: -23px;
      }
      img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      }
   }
}
.text-main-screen {

   &__row {
   }

   &__title {
      max-width: 493px;
      font-weight: 700;
      @include adaptiveValueREM('font-size', 40,20 );
      line-height: 1.3;
      letter-spacing: 0.1em;
      transition: all 0.8s ease 0s;
      span{
         color: $blue;
      }
      margin-bottom: 17px;
      transform: translate(0, 70%);
      opacity: 0;
      &._animated {
         transform: translate(0, 0);
         opacity: 1;
      }
   }

   &__text {
      max-width: 464px;
      line-height: 1.4;
      margin-bottom: 35px;
      transform: translate(0, 70%);
      opacity: 0;
      transition: all 0.8s ease 0.3s;
      &._animated {
         transform: translate(0, 0);
         opacity: 1;
      }
   }

   &__buttons {
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile) {
     //    flex-direction: column;
         align-items: center;
      }
      transform: translate(0, 70%);
      opacity: 0;
      transition: all 0.8s ease 0.3s;
      &._animated {
         transform: translate(0, 0);
         opacity: 1;
      }
   }

   &__call {
      color: #ffffff;
      background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
      box-shadow: 0px 2px 10px #46B1DE;
      //border: 1px solid #1B1D1F;
      border-radius: 8px;
      min-width: 180px;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease 0s;
      @media (max-width: $mobile) {
      margin-bottom: 15px;
      min-width: 140px;
      }
   }

   &__service {
      color: $blue;
      background-color: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      margin-right: 16px;
      min-width: 180px;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease 0s;
      @media (max-width: $mobile) {
      margin-right: 0;
      margin-bottom: 15px;
      min-width: 140px;
      }
   }
}
.cards-main-screen {

   &__card {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 280px;
      height: 120px;
      background-color: #ffffff;
      border: 1px solid #D8E1E1;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      transform: translate(-70%, 0);
      opacity: 0;
      transition: all 0.8s ease 0.6s;
      &._animated {
         transform: translate(0, 0);
         opacity: 1;
      }
      &:not(:last-child){
         @include adaptiveValueREM('margin-right', 70, 20, 1180, 768, 1)
      }
      &:nth-child(2){
         .cards-main-screen__text{
            max-width: 114px;
            @media (max-width: $mobile) {
               max-width: 146px;
            }
         }
         }
         @media (max-width: $mobile) {
            transition: all 0.8s ease 0s;
            justify-content: center;
            &:not(:last-child){
               margin-right: 0px;
               margin-bottom: 15px;
            }
            &:first-child{
               margin-left: 0px;
              // transition: all 0.8s ease 0.4s;
            }
         }
   }

   &__number {
      color: $blue;
      @include adaptiveValueREM('font-size', 65,35 );
      line-height: 1.1692;
      margin-right: 7px;
      margin-left: 15px;
      @media (max-width: $mobile) {
         margin-left: 0;
         margin-right: 20px;
         min-width: 69px;
         text-align: center;
      }
   }

   &__text {
      max-width: 146px;
      font-size: 14px;
      line-height: 1.14;
   }
}
/*===============MAIN-SCREEN================*/

/*===============WHY-ME================*/
.why-me {
   margin-bottom: 90px;
   @media (max-width: $mobile) {
      margin-bottom: 30px;
   }

   &__container {
   }

   &__title {
      text-align: center;
      font-weight: 600;
      @include adaptiveValueREM('font-size', 34,18 );
      line-height: 1.3;
      span{
         color: $blue;
      }
      margin-bottom: 5px;
   }

   &__text {
      text-align: center;
      margin: 0 auto 35px auto;
      line-height: 1.4;
      max-width: 612px;
   }

   &__advantages {
      position: relative;
      padding: 20px 16px;
      background-color: $paleBlue;
      display: flex;
      border-radius: 12px;
      width: min-content;
      margin: 0 auto;
      @media (max-width: em(1050)) {
         flex-direction: column;
         }
         @media (max-width: em(350)) {
         padding: 20px 5px;
         left: -10px;
         }
   }
}
.me-advantages {

   &__row {
      display: flex;
      flex-direction: column;
      &:not(:last-child){
         margin-right: 40px;
      }
      @media (max-width: em(1050)) {
      flex-direction: row;
      &:not(:last-child){
         margin-right: 0px;
         margin-bottom: 20px;
      }
      }
      @media (max-width: $mobile) {
      flex-direction: column;
      }
   }

   &__card {
      width: 300px;
      height: 176px;
      padding-left: 20px;
      padding-top: 10px;
      background-color: #ffffff;
      border-radius: 8px;
      &:not(:last-child){
         margin-bottom: 12px;
      }
      @media (max-width: em(1050)) {
         &:not(:last-child){
            margin-bottom: 0px;
            margin-right: 20px;
         }
      }
      @media (max-width: $mobile) {
         height: auto;
         padding-top: 20px;
         padding-bottom: 20px;
         &:not(:last-child){
            margin-bottom: 20px;
            margin-right: 0px;
         }
      }
   }
}
.card-advantage {

   &__title {
      display: flex;
      align-items: center;
      color: $blue;
      margin-bottom: 17px;
   }

   &__number {
      font-size: 40px;
      line-height: 1.175;
      margin-right: 15px;
   }

   &__text {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.166;
      @media (max-width: $mobile) {
      max-width: 211px;
      }
   }

   &__content {
      line-height: 1.1875;
      margin-right: 15px;
   }
}

/*===============WHY-ME================*/

/*===============SERVICES================*/
.services {
   margin-bottom: 115px;
   @media (max-width: em(1050)) {
      margin-bottom: 60px;
   }
   @media (max-width: $mobile) {
      margin-bottom: 45px;
   }

   &__container {
   }

   &__title {
      @include adaptiveValueREM('font-size', 34,18 );
      text-align: center;
      line-height: 1.1765;
      span{
         color: $blue;
      }
      margin-bottom: 50px;
      @media (max-width: em(1050)) {
         margin-bottom: 110px;
      }
   }

   &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      .services__content:first-child{
         text-align: right;
         .content-services__item:first-child{
            margin-right: 65px;
            .content-services__text{
               min-width: 370px;
               @media (max-width: em(1050)) {
                  min-width: unset;
               }
            }
         }
         .content-services__item:nth-child(2){
            margin-right: 130px;
            .content-services__text{
               min-width: 355px;
               @media (max-width: em(1050)) {
                  min-width: unset;
               }
            }
         }
         .content-services__item:last-child{
            margin-right: 35px;
         }
      }
      .services__content:last-child{
         .content-services__item:first-child{
            margin-left: 65px;
         }
         .content-services__item:nth-child(2){
            margin-left: 130px;
         }
         .content-services__item:last-child{
            margin-left: 35px;
         }
      }
      @media (max-width: em(1050)) {
         flex-direction: column;
         .services__content:first-child{
            text-align: center;
            .content-services__item:first-child{
               margin-right: 0px;
            }
            .content-services__item:nth-child(2){
               margin-right: 0px;
            }
            .content-services__item:last-child{
               margin-right: 0px;
            }
         }
         .services__content:last-child{
            text-align: center;
            .content-services__item:first-child{
               margin-left: 0px;
            }
            .content-services__item:nth-child(2){
               margin-left: 0px;
            }
            .content-services__item:last-child{
               margin-left: 0px;
            }
         }
      }
   }

   &__content {
      flex: 0 0 430px;
      position: relative;
      top: 25px;
      &:first-child{
         .content-services__item:first-child{
            transform: translate(-50%, -80%);
            opacity: 0;
            @media (max-width: em(1050)) {
               transform: translate(-50%, 0%);
            }
            &._animated{
               opacity: 1;
               transform: translate(0%, 0%);
            }
         }
         .content-services__item:nth-child(2){
            opacity: 0;
            transform: translate(-50%, 0%);
            @media (max-width: em(1050)) {
               transform: translate(50%, 0%);
            }
            &._animated{
               opacity: 1;
               transform: translate(0%, 0%);
            }
         }
         .content-services__item:last-child{

            opacity: 0;
            transform: translate(-50%, 80%);
            @media (max-width: em(1050)) {
               transform: translate(-50%, 0%);
            }
            &._animated{
               opacity: 1;
               transform: translate(0%, 0%);
            }
         }
         @media (max-width: em(1050)) {
            order: 2;
            margin-bottom: 30px;
            transform: translate(0%, - 0%);
         }
      }
      &:last-child{
         min-height: 342px;
         .content-services__item:first-child{
            opacity: 0;
            transform: translate(50%, -80%);
            @media (max-width: em(1050)) {
               transform: translate(50%, 0%);
            }
            &._animated{
               opacity: 1;
               transform: translate(0%, 0%);
            }
         }
         .content-services__item:nth-child(2){
            opacity: 0;
            transform: translate(50%, 0%);
            @media (max-width: em(1050)) {
               transform: translate(-50%, 0%);
            }
            &._animated{
               opacity: 1;
               transform: translate(0%, 0%);
            }
         }
         .content-services__item:last-child{
            opacity: 0;
            transform: translate(50%, 80%);
            @media (max-width: em(1050)) {
               transform: translate(50%, 0%);
            }
            &._animated{
               opacity: 1;
               transform: translate(0%, 0%);
            }
         }
         @media (max-width: em(1050)) {
            order: 3;
         }
      }
      @media (max-width: em(1050)) {
         top: 0;
         flex: 1 1 auto;
      }
   }

   &__img {
      flex: 0 0 115px;
     // margin-right: 155px;
      position: relative;
      top: -15px;
      img{
         position: relative;
         left: -5.5px;
      }
      &::before{
         content: '';
         position: absolute;
         left: -50%;
         top: -50%;
         transform: translate(25px, 12px);
         width: 302px;
         height: 302px;
         background-color: transparent;
         border-radius: 50%;
         border: 1px solid #1B1D1F;
         @media (max-width: em(349)) {
            transform: translate(30px, 25px);
            width: 300px;
            height: 272px;
         }
      }
      span{
         position: absolute;
         top: 0;
         left: 0;
         width: 24px;
         height: 24px;
         border-radius: 50%;
         background-color: $blue;
         color: #ffffff;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: default;
         /*opacity:0;
         &._animated{
            opacity: 1;
         }*/
         &:nth-child(2){
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.8s ease-in-out 0s;
            &._animated{
               transform: translate(0%, 0%);
               top: -43px;
               left: -27px;
               @media (max-width: em(349)) {
                  left: -10px;
               }
            }
         }
         &:nth-child(3){
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.8s ease-in-out 0s;
            &._animated{
               transform: translate(0%, 0%);
               top: 70px;
               left: -77px;
               @media (max-width: em(349)) {
                  left: -70px;
               }
            }
         }
         &:nth-child(4){
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.8s ease-in-out 0s;
            &._animated{
               transform: translate(0%, 0%);
               top: 180px;
               left: -29px;
               @media (max-width: em(349)) {
                  left: -10px;
               }
            }
         }
         &:nth-child(5){
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.8s ease-in-out 0s;
            &._animated{
               transform: translate(0%, 0%);
               top: -40px;
               left: 175px;
               @media (max-width: em(349)) {
                  left: 170px;
               }
            }
         }
         &:nth-child(6){
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.8s ease-in-out 0s;
            &._animated{
               transform: translate(0%, 0%);
               top: 70px;
               left: 225px;
               @media (max-width: em(349)) {
                  left: 225px;
               }
            }
         }
         &:nth-child(7){
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.8s ease-in-out 0s;
            &._animated{
               transform: translate(0%, 0%);
               top: 180px;
               left: 175px;
               @media (max-width: em(349)) {
                  left: 165px;
               }
            }
         }
      }
      @media (max-width: em(1050)) {
         order: 1;
         margin-bottom: 90px;
      }
   }
}
.content-services {

   &__item {
      position: relative;
      &:first-child{
      margin-bottom: 30px;
      }
      &:nth-child(2){
         margin-bottom: 45px;
      }
      //transform: translate(-50%, -80%);
      transition: unset;
      &._animated{
         transition: all 0.8s ease-in-out 0s;
      }
   }

   &__title {
      @include adaptiveValueREM('font-size', 20,16 );
      font-weight: 600;
      line-height: 135%;
      color: $blue;
      margin-bottom: 5px;
      white-space: nowrap;
      text-transform: uppercase;
      
      a{
       //  text-decoration: 2px underline solid $blue;
       border-bottom: 2px solid $blue;
       @media (pointer: fine) {
         transition: all 0.3s ease 0s;
       &:hover {
        //color: darken($color: $blue, $amount: 15);
        color: #126dc2;
        //border-bottom: 2px solid darken($color: $blue, $amount: 15);
        border-bottom-color: #126dc2;
       }
       }
      }
      
   }

   &__text {
      line-height: 19px;
   }
}

/*===============SERVICES================*/

/*===============CONSULTATION================*/
.consultation {
   margin-bottom: 40px;
   @media (max-width: $mobile) {
      margin-bottom: 30px;
   }

   &__container {
   }

   &__body {
      max-width: 845px;
      margin: 0 auto;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 12px;
   }

   &__item {
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      border-radius: 10px;
      text-align: center;
   }

   &__title {
      text-align: center;
      text-transform: uppercase;
      @include adaptiveValueREM('font-size', 34,18 );
      line-height: 130%;
      margin-top: 30px;
      margin-bottom: 5px;
      margin-right: 5px;
      margin-left: 5px;
      span{
         color: $blue;
      }
   }

   &__text {
      text-align: center;
      line-height: 140%;
      margin-bottom: 30px;
      margin-right: 5px;
      margin-left: 5px;
   }

   &__btn {
      line-height: 140%;
      font-weight: 600;
      @include adaptiveValueREM('font-size', 19,16 );
      text-align: center;
      margin-bottom: 30px;
      padding: 29px 42.5px;
      background-color: $blue;
      color: #ffffff;
      border-radius: 8px;
      @media (max-width: em(349)) {
         padding: 19px 22.5px;
      }
   }
}

/*===============CONSULTATION================*/

/*===============IMAGES================*/
.images {
margin-bottom: 90px;
@media (max-width: $mobile) {
   margin-bottom: 30px;
}
   &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: $mobile) {
         flex-direction: column;
      }
   }

   &__img {
      transform: scale(0);
      &._animated{
         transition: all 0.8s ease 0s;
         transform: scale(1);
      }
      &:not(:last-child){
         @include adaptiveValueREM('margin-right', 70, 25, 1180, 768, 1);
         @media (max-width: $mobile) {
         margin-right: 0;
         margin-bottom: 20px;
         }
      }
   }
}
/*===============IMAGES================*/

