/*----POP-UP----*/
/*----POP-UP----*/

.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 9999;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all 0.8s ease 0s;
   -o-transition: all 0.8s ease 0s;
   transition: all 0.8s ease 0s;
 }
 
 .popup__body {
   min-height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   padding: 30px 10px;
   -webkit-transition: all 0.8s ease 0s;
   -o-transition: all 0.8s ease 0s;
   transition: all 0.8s ease 0s;
 }
 
 .popup__content {
   background-color: $blue;
   padding: 70px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   position: relative;
   -webkit-transition: all 0.8s ease 0s;
   -o-transition: all 0.8s ease 0s;
   transition: all 0.8s ease 0s;
   opacity: 0;
   -webkit-transform: translate(-150%, 0);
       -ms-transform: translate(-150%, 0);
           transform: translate(-150%, 0);
   @media (max-width: $mobileSmall) {
       padding: 30px 15px;
   }
 }
 
 .popup__close {
   position: absolute;
   right: 10px;
   top: 10px;
   color: #fff;
   font-size: 20px;
 }
 
 .popup__text-link h4 {
   font-weight: 500;
   font-size: 34px;
   color: #fff;
   text-transform: uppercase;
   margin-bottom: 60px;
   white-space: nowrap;
   @media (max-width: $mobileSmall) {
      font-size: 30px;
   }
 }
 
 .popup__text {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
 }
 
 .popup__links{
    display: flex;
    justify-content: center;
    @media (max-width: $mobile) {
         flex-direction: column;
    }
 }
 .popup__links-viber{
   padding: 10px 15px;
   background-color: #7B519D;
   color: #fff;
   border-radius: 10px;
   margin-right: 15px;
   position: relative;
   white-space: nowrap;
   text-align: center;
   @media (max-width: $mobile) {
    margin-right: 0;
    margin-bottom: 15px;
   }
}
 .popup__links-telegram{
   background-color: #0088CC;
   padding: 10px 15px;
   color: #fff;
   border-radius: 10px;
   margin-right: 15px;
   white-space: nowrap;
   text-align: center;
   @media (max-width: $mobile) {
      margin-right: 0;
      margin-bottom: 15px;
   }
 }
 .popup__links-watsapp{
   background-color: #4DC247;
   padding: 10px 15px;
   color: #fff;
   border-radius: 10px;
   white-space: nowrap;
   text-align: center;
 }
 
 /*----POP-UP-JS----*/
 
 .popup.open .popup__content {
   -webkit-transform: translate(0%, 0);
       -ms-transform: translate(0%, 0);
           transform: translate(0%, 0);
   opacity: 1;
 }
 
 .popup.open {
   opacity: 1;
   visibility: visible;
 }
 
 /*----POP-UP-JS----*/


