/*----POP-UP----*/
/*----POP-UP----*/

.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 9999;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all 0.8s ease 0s;
   -o-transition: all 0.8s ease 0s;
   transition: all 0.8s ease 0s;
   overflow-y: auto;
 }
 
 .popup__body {
   min-height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   padding: 30px 10px;
   -webkit-transition: all 0.8s ease 0s;
   -o-transition: all 0.8s ease 0s;
   transition: all 0.8s ease 0s;
 }
 
 .popup__content {
  background: linear-gradient(100.16deg, #46B1DE 2.65%, #0591CC 96.49%);
  border-radius: 10px;
   padding: 70px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   position: relative;
   -webkit-transition: all 0.8s ease 0s;
   -o-transition: all 0.8s ease 0s;
   transition: all 0.8s ease 0s;
   opacity: 0;
   -webkit-transform: translate(-150%, 0);
       -ms-transform: translate(-150%, 0);
           transform: translate(-150%, 0);
   @media (max-width: $mobileSmall) {
       padding: 30px 15px;
   }
 }
 
 .popup__close {
   position: absolute;
   right: 10px;
   top: 10px;
   color: #fff;
   font-size: 20px;
 }
 
 .popup__text-link{
  margin-bottom: 35px;
 }

 .popup__text-link h4 {
   font-weight: 500;
   font-size: 34px;
   color: #fff;
   text-transform: uppercase;
   white-space: nowrap;
   text-align: center;
   margin-bottom: 10px;
   @media (max-width: $mobileSmall) {
      font-size: 30px;
   }
 }

 .popup__text-link p{
  max-width: 418px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  line-height: 1.1875;
 }
 
 .popup__text {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
 }
 
 .popup__mesengers{
    display: flex;
    justify-content: center;
    @media (max-width: $mobile) {
         flex-direction: column;
    }
 }
 .popup__mesenger{
  display: flex;
  flex-direction: column;
 }
 .popup__mesenger-link-img{
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto 10px auto;
  @media (pointer: fine) {
  &:hover {
      img{
        &:first-child{
          opacity: 0;
          visibility: hidden;
        }
        &:last-child {
           opacity: 1;
           visibility: visible;
        }
      }
    }
    &.active{
      img{
        &:first-child{
          opacity: 0;
          visibility: hidden;
        }
        &:last-child {
           opacity: 1;
           visibility: visible;
        }
      }
    }
  }
  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.5s ease 0s;
  &:last-child{
    opacity: 0;
    visibility: hidden;
  }
  }
 }
 .popup__viber{
   padding: 10px 15px;
   background-color: #fff;;
   color: #0591CC;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
   font-weight: 700;
   transition: all 0.5s ease 0s;
   @media (pointer: fine) {
    &:hover {
      background-color: #7B519D;
      color: #fff;
    }
    &.active{
      background-color: #7B519D;
      color: #fff;
    }
  }
   border-radius: 8px;
   margin-right: 15px;
   position: relative;
   white-space: nowrap;
   text-align: center;
   min-width: 205px;
   @media (max-width: $mobile) {
    margin-right: 0;
    margin-bottom: 35px;
   }
}
 .popup__telegram{
   
   padding: 10px 15px;
   background-color: #fff;;
   color: #0591CC;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
   font-weight: 700;
   border-radius: 8px;
   transition: all 0.5s ease 0s;
   @media (pointer: fine) {
    &:hover {
      background-color: #0088CC;
      color: #fff;
    }
    &.active{
      background-color: #0088CC;
      color: #fff;
    }
  }
   margin-right: 15px;
   white-space: nowrap;
   text-align: center;
   min-width: 205px;
   @media (max-width: $mobile) {
      margin-right: 0;
      margin-bottom: 35px;
   }
 }
 .popup__watsapp{
   
   padding: 10px 15px;
   background-color: #fff;;
   color: #0591CC;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
   font-weight: 700;
   border-radius: 8px;
   transition: all 0.5s ease 0s;
   @media (pointer: fine) {
    &:hover {
      background-color: #4DC247;
      color: #fff;
    }
    &.active{
      background-color: #4DC247;
      color: #fff;
    }
  }
  
   white-space: nowrap;
   text-align: center;
   min-width: 205px;
 }
 
 /*----POP-UP-JS----*/
 
 .popup.open .popup__content {
   -webkit-transform: translate(0%, 0);
       -ms-transform: translate(0%, 0);
           transform: translate(0%, 0);
   opacity: 1;
 }
 
 .popup.open {
   opacity: 1;
   visibility: visible;
 }
 
 /*----POP-UP-JS----*/


