._margin-big{
   @include adaptiveValueREM('margin-bottom', 90,30 );
}

.caries {

   &__middle {
      @include adaptiveValueREM('margin-bottom', 90,30 );
   }

   &__middle-title {
   }

   &__middle-body {
      display: grid;
      grid-template-columns: repeat(3, 280px);
      grid-row: auto auto;
      row-gap: 70px;
      @include adaptiveValueREM('column-gap', 120, 60, 1400,992,1);
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 280px);
         grid-row: auto auto auto;
         justify-content: center;
      }
      @media (max-width: $mobile) {
         grid-template-columns:  280px;
         grid-row: repeat(6, auto);
      }
   }

   &__middle-item {
      
   }
   &__middle-title{
      width: 312px;
   }

   &__middle-text {
      line-height: 140%;
   }
}
.caries__find-body{
   .img-block-three__title{
      width: 305px;
   }
}


.pulpitis {

   &__reasons-body {
      display: grid;
      grid-template-columns: repeat(2, minmax(280px, 480px));
      grid-template-rows: auto auto;
      row-gap: 70px;
      @include adaptiveValueREM('column-gap', 120, 20, 1400,768,1);
      @media (max-width: $mobile) {
         grid-template-columns: minmax(280px, 380px);
         grid-template-rows: repeat(2, auto);
         row-gap: 30px;
         justify-content: center;
      }
   }

   &__reasons-item {
      display: flex;
      picture{
         margin-right: 20px;
      }
   }

   &__reasons-content {
   }

   &__reasons-title {
   }

   &__reasons-text {
      line-height: 140%;
   }
}

.pulpitis {

   &__stages-body {
      display: flex;
      @include adaptiveValueREM('margin-bottom', 55,30 );
      @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      }
   }

   &__stages-row {
      &:not(:last-child){
      margin-right: 20px;
      @media (max-width: $mobile) {
      margin-right: 0;
      margin-bottom: 30px;
      }
      }
   }

   &__stages-item {
      display: flex;
      &:not(:last-child){
      margin-bottom: 50px;
      @media (max-width: $mobile) {
      margin-bottom: 30px;
      }
      }
      picture{
         margin-right: 20px;
      }
   }

   &__stages-content {
      max-width: 480px;
   }

   &__stages-title {
   }

   &__stages-text {
      line-height: 140%;
   }
}


